.list{
    display: flex;
    column-gap: 20px;
}
.list li{
    list-style: none;
}
.list a{
    text-decoration: none;
}
.container{
    width: 80%;
}
.big{
    background-color: aqua !important;
}
.bg-body-tertiary{
    background-color: black !important;
}