header{
    background-color: aqua;
    font-size: large;
    nav{
        .container{
         a ,i{
            font-size: 30px;

         }  
         a{
            color: lightgrey;
         } 
        }
    }
}

