*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.border{
    border: 2px solid wheat;
    width: 700px;
    height: 500px;
    margin: 50px auto;
}
.box1{
    display: flex;
    align-items: center;
    word-spacing: 10px;
    padding:  10px;
    border: 2px solid purple;
    height: 50px;
    width: 500px;
    margin: 50px ;
}
.box1 p{
    font-size: larger;
    color: purple;
    
}

.qutu{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid purple;
    height: 230px;
    width: 150px;
    margin: 50px 30px;
    border-radius: 15px;
}

.box2{
    display: flex;
    align-items: center;
}

.icon{
    border: 1px solid wheat;
    height:30px;
    width: 50px;   
}
.heading{
    border: 1px solid wheat;
    height: 50px;
    width: 120px;
}
.parag{
    border: 1px solid wheat;
    height: 50px;
    width: 120px;
}
