* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.first {
    background-color: lightgray;
    width: 600px;
    height: 500px;
    margin: 100px 600px;
    padding: 20px 50px;
}

.second {

    background-color: white;
    width: 300px;
    height: 340px;
    margin: 70px 100px;
    border-radius: 20px;
    cursor: crosshair;
    padding: 10px;

}

button {
    background-color: cadetblue;
    color: indigo;
    margin: 20px 20px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    padding: 10px;
}

h2 {
    margin: 15px 10px;
}

p {
    margin: 15px 10px;
    font-size: large;
}

#button {
    font-size: large;
    border: 1px solid purple;
    padding: 15px;
    color: aliceblue;
    border-radius: 8px;
    border: none;


}

#button:hover {
    background-color: purple;
}